* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(98, 105, 110);
  border-radius: 15px;
}

h1 {
  text-align: center;
  padding: 10px;
}
#niveau {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.btnNiveau   {
  font-size:20px;
  width: 100px;
  height: 70px;
  background: linear-gradient(
    35deg,
    rgb(255, 0, 0, 0.7) 0%,
    rgba(5, 252, 170, 0.7) 25%,
    rgb(14, 35, 219, 0.7) 50%,
    rgb(128, 0, 79, 0.7) 75%,
    rgb(255, 0, 0, 0.7) 100%
    
  );
  border: none;
  cursor: pointer;
  border: solid 1px;
  border-radius: 25px;
  padding: 10px;
}

.btnNiveau:hover{
  background-color: rgb(67, 1, 248);
  color: white;
}


#boite {
  display: flex;
  margin: 60px 60px;
  border: solid 1px;
  border-radius: 40px 120px 40px 120px;
  background: linear-gradient(
    35deg,
    rgb(255, 0, 0) 0%,
    rgb(5, 252, 170) 25%,
    rgb(14, 35, 219) 50%,
    rgb(128, 0, 79) 75%,
    rgb(255, 0, 0) 100%
  );
  justify-content: right;
  justify-content: space-around;
  padding: 10px;
}
#explication {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 20px;
}
.box {
  border-radius: 15px;
  border: solid 1px;
}
.trait {
  height: 2px;
  width: 100%;
  background-color: blue;
  margin: 50px 0;
}
.R p{
  margin: 2px 0;
  text-align: center;
 }
 #Essai{
  font-weight: bold;
 }
#Reponse{
 
   font-size: 30px;
  text-align: center;

}


#ColonneG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#info {
  display: flex;
  background-color:rgb(0, 98, 128,0.90) ;
  border: solid 1px ;
  position: absolute;
  height: 80vh;
  width: 100%;  
}

#info p{
  color: red;
  text-align: center;
  margin: auto auto;
  font-size: 40px;
  
}

#input {
  width: 80px;
  height: 35px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}
.valider {
  margin-top: 10px;
  width: 60px;
  height: 30px;
  cursor: grab;
}

#rejouer{
  width: 80px;
  height: 30px;
  border: none;
  background-color: black;
  color:aqua;
  margin-top: -20px;
  cursor: pointer;
  border-radius: 20px;
}

@media screen and  ( max-width: 800px) {
  
  #container{
  margin: auto;
    width: 100%;
  }
  
  .box {
    border-radius: 15px 120px 15px 15px;
  }
  .box h3{
    display: flex;
 padding-right: 40px ;
 text-align: center;
  }
}
/********************************************************/

@media screen and  ( max-width: 600px) {
  
  #container{
    margin: auto;
    width: 100%; 
  }

  .box {
    border-radius: 15px 120px 15px 15px;   
  }

  .box h3{
    display: flex;
    text-align: center;
  }

  .box p {
    text-align: center;
  }
}
/********************************************************/
@media screen and  ( max-width: 400px) {
  
  #container{
    margin: auto;
    width: 100%;
  }

  .box {
    border-radius: 15px 100px 40px 15px;
  
  }

  .box h3{
    display: flex;
    margin-right: -35px ;
    margin-left: -10px;
    text-align: center;
  }
  .box p {
    text-align: center;
  }
  #boite{
   margin-right: 10px;
   margin-left: 10px;
   
  }
}